<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- thymeleaf 사용시 css, js적용 방법 -->
<link rel="stylesheet" th:href="@{/css/content.css}">
<script type="text/javascript" src="/js/vali.js"></script>
<title>Insert title here</title>
</head>
<body>
	<h2>안녕하세요!!저는 타임리프입니다!</h2>
	<span class="hellotext" th:text="${data}"></span><br>
	<img th:src="@{/img/spring.png}"><br><br>
	
	회원 이름 : <span th:text="${memberDto.name}"></span><br>
	회원 나이 : <span th:text="${memberDto.age}"></span>
</body>
</html>